.mw-guidedtour-tour-RcFiltersBeta {
	padding: 40px;
	width: 500px !important;
	.guider_content {
		background: url('images/rc-beta-tour-welcome-ltr.gif') no-repeat;
		// Ensure the background image appears on the left in LTR and on the right in RTL
		background-position-x: 0%;
		// Make space for the image
		min-height: 170px;
		padding-left: 234px;

		.guider_close {
			display: none;
		}

		.guider_title {
			box-sizing: border-box;
		}

		.guider_description {
			font-size: 1.2em;
			color: grey;
		}
	}
}
