/*!
 * Styling for https://meta.wikimedia.org/wiki/Special:Contact/affcomchapthorg
 *
 * Loaded via wmf-config/MetaContactPages.php.
 */

body.page-Special_Contact_affcomusergroup .firstHeading {
	background-color: #2f6fab;
	color: #fff;
	padding: 0.5em;
	text-align: center;
}

#contactpage-affcomusergroup {
	width: inherit;
}

#contactpage-affcomusergroup > div > :nth-child( 1 ) label,
#contactpage-affcomusergroup > div > :nth-child( 2 ) label {
	font-weight: bold;
}

#contactpage-affcomusergroup > div > :nth-child( 3 ),
#contactpage-affcomusergroup > div > :nth-child( 4 ) {
	display: none;
}

#contactpage-affcomusergroup label > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
